# Variables de Entorno para la aplicación EMI Web

# Configuración de la Base de Datos
# Para SQLite local (desarrollo), puedes comentar la línea de DATABASE_URL
# y la aplicación usará "sqlite:///./models/app.db" por defecto.
# Para PostgreSQL en Google Cloud SQL, usa el formato de socket de Unix para Cloud Run.
# Reemplaza [DB_USER], [DB_PASS], [DB_NAME], [PROJECT_ID], [REGION] e [INSTANCIA] con tus datos reales.

INSTANCE_CONNECTION_NAME=[PROJECT_ID]:[REGION]:[instancia]
DB_USER=usuario
DB_PASS=contraseña
DB_NAME=base_de_datos


# Configuración para el envío de correos (SMTP)
# Puedes usar los datos de tu correo personal (Gmail, Outlook, etc.)
# Para Gmail, SMTP_SERVER='smtp.gmail.com', SMTP_PORT='465' (SSL) o '587' (TLS)
# Asegúrate de habilitar "Acceso de apps menos seguras" o generar una "Contraseña de aplicación" si usas Gmail.
SMTP_SERVER=smtp.example.com
SMTP_PORT=tupuuerto
SMTP_EMAIL=tucorreo@electronico.com
SMTP_PASSWORD=tucontraseña