# Dependencias del proyecto

kivy==2.3.1
SQLAlchemy==2.0.38
python-dotenv  # Para manejo de variables de entorno (opcional)
sqlite  # Base de datos SQLite integrada

# Dependencias adicionales si son necesarias
kivy-garden
kivy-examples