# Dependencias de la versión Web (FastAPI)
fastapi
uvicorn[standard]
jinja2
python-multipart
SQLAlchemy>=2.0.0
python-dotenv
reportlab>=4.0.0
httpx
pydantic
pydantic-settings
sqlalchemy-utils
passlib[bcrypt]
python-jose[cryptography]